//- base.pug
doctype html 
html
  head
    title My Site - #{title}
    block scripts
    block style 
  body
   nav#navbar
        ul
            div#logo 
                img(src="/static/img/wow5.png")
                //- img(src='/static/images/wow3.jpg')
                
        
            li #[a(href="/") Home]
            li #[a(href="/about") About] 
            li #[a(href="/") Services] 
            li #[a(href="/contact") Contact Us] 
            li #[a(href="/") Class info]

   block content
   footer#footer 
      | © 2020 mick dance accademy