h1{
    text-align: center;
    margin: 12px 0;
}

.myInput{

    width: 480px;
    padding: 9px;
    margin: 9px;
    font-size: 15px;
    border: 2px solid rgb(14, 4, 4);
    border-radius: 5px;
}

#footer{

    margin: 35px;
    height: 45px;
}

.myForm{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{

    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    color: white;
    background-color: rgb(218, 42, 42);
    cursor: pointer;

}